<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <%= form_with(model: @article, local: true) do |f| %>
    <div class="card">
      <div class="card-body">
        <div class="input-group mb-3">
          <%= f.label :title, class: "input-group-text" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= f.label :description, class: "input-group-text" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <%= f.submit class: "btn btn-success" %>
        <%= link_to "back".html_safe, articles_path, :class=>"btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
