<h1>Showing the articles</h1>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<%= link_to 'Edit article', edit_article_path %>
<%= link_to 'Delete article', article_path, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %>
<%= link_to 'Back to articles', articles_path %>
